page-signin {
    .bg-image{
        background-image: url('../../assets/imgs/background2.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover
    }
    
    
}
