<ion-header>

  <ion-navbar color="primary">
    <ion-title>Principal</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!-- Info user -->
  <ion-list>
    <button ion-item *ngFor="let profile of profiles">
      <ion-card-header>
        <div class="card-title">Hola de nuevo, {{profile.name}} {{profile.surname}}</div>
      </ion-card-header>
    </button>
  </ion-list>
  <!--Grid con botones-->
  <ion-grid>
    <ion-row>
      <ion-col>
        <button *ngIf="profesor == true" ion-button full (click)="goToCreatePractica()">Crear práctica</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button full (click)="goToViewPracticas()">Prácticas activas</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button full (click)="goToOldPracticas()">Histórico de prácticas</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>